@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    background-color: blueviolet;
}

.content {
    color: white;
}

.title-top {
    font-family: 'Asap', sans-serif;
}